#root{
  background-color: black;
  display: flex;
  width: 100%;
}

.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 4rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.unitSelection-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 3rem;
  padding: 2rem;
}

.taskForceSelector-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 10rem;
}

.taskForceSelector-unit{
  width: 3rem;
  margin-right:1.5rem;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: middle;
}

.board {
  border: 2rem solid white;
  width: 56rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff7af;
  margin-bottom: 2rem;
}

.panel {
  display: flex;
  height: 5rem;
  align-self: center;
  margin-left: 2rem;
}

.square {
  height: 2rem;
  width: 2rem;
  border: 1px solid rgb(10, 10, 10);
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover{
  border : 2px solid yellow;
  background-color: yellow;
}

.square.active{
  color: white;
}

.square.selected{
  background-color: white;
}

.square.flag-zone{
  background: repeating-linear-gradient(
    45deg,
    #a2e08f,
    #a2e08f 5px,
    #7bc565 5px,
    #7bc565 10px
  );
}

.square-inside{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-inside.reachable{
  background-color: rgba(75, 228, 55, 0.3);
}


.square.forbidden{
  background: repeating-linear-gradient(
    45deg,
    #cecece,
    #cecece 5px,
    #949494 5px,
    #949494 10px
  );
}

.square.contains-flag{
  color: white;
  padding: 0.2rem;
}


.flag{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-image{
  display: relative;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  margin-bottom: 1rem;
  z-index: 2;
}

.flag-image.with-player{
  position: relative;
  top: -3.8rem;
  left: 0.5rem;
  width: 150%;
  margin-bottom: 0;
  z-index: -1;
  height:3rem;
}

.danger{
  width: 0.9rem;
  height: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  border-radius: 4rem;
}

.unit{
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 3rem;
}

.unit.has-flag{
  margin-top: 1.7rem;
}

.mirror{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.unit-sprite{
  flex-grow: 0.7;
  width: 180%;
}

.unit-info{
  flex-shrink: 1;
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  margin-top: -0.6rem;
  background-color: white;
  color: black;
  font-weight: 800;
  border: 1px solid black;
}

.infobar{
  background-color: white;
  margin: 2rem 3rem;
  width: 50rem;
}

.info-container{
  margin: 1rem;
}


button.inactive{
  background-color: rgb(239, 239, 239);
  color: grey;
  border: 1px solid grey;
}

button.active{
  background-color: lightgray;
  color: black;
}