.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 4rem;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: middle;
}

.board {
  width: 50rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.panel {
  display: flex;
}

.square {
  height: 3rem;
  width: 3rem;
  border: 1px solid black;
  font-size: 0.8rem;
}

.square:hover{
  border : 2px solid yellow;
  background-color: yellow;
}

.square.active{
  color: white;
}

.square.selected{
border: 3px solid green;
}

.square.reachable{
  background-color: orange;
}

.infobar{
  margin: 2rem 3rem;
}